{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezzumin</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resumir</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#upload-pdf">Resumir PDF</a>
                  <a class="dropdown-item" href="#upload-text">Resumir Texto</a>
                </div>
              </li>
            <a class="nav-item nav-link" href="#tutorial">Tutorial</a>
            <a class="nav-item nav-link" href="#">Documentação</a>
            <a class="nav-item nav-link" target="_blank" href="https://www.midiacom.uff.br">Midiacom</a>
        </div>
    </nav>

    <div class="jumbotron bg-light">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <h1 class="mb-3">Rezzumin</h1>
                <p class="lead mb-4 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi at rhoncus molestie.
                    Ut et maximus diam. Integer eget libero at leo aliquam condimentum sit amet ut elit.
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Pellentesque lacinia non dolor sed efficitur.
                </p>
                <p class="lead mb-4 text-justify">
                    Vivamus scelerisque, erat vitae lobortis consectetur,
                    dui purus ultrices elit, quis condimentum elit purus eget felis. Vestibulum finibus,
                    leo vel facilisis euismod, magna urna aliquam est, et finibus sapien ligula ac arcu.
                </p>
                <div class="row mx-n2">
                    <div class="col-md px-2">
                        <a class="btn btn-lg btn-outline-primary w-100 mb-3" href="#upload-pdf" role="button">Resumir PDF</a>
                    </div>
                    <div class="col-md px-2">
                        <a class="btn btn-lg btn-outline-secondary w-100 mb-3" href="#upload-text" role="button">Resumir Texto</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
              <img class="w-75" src="{% static 'dashboard/images/logo2.png' %}">
            </div>
        </div>
    </div>

    <section id="tutorial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example1.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">PDF Comum</h5>
                        <p class="card-text">Carregue um arquivo .pdf comum com no máximo 12 páginas (coluna simples) para gerar o resumo.</p>
                        <a href="#upload-pdf" class="btn btn-block btn-primary">Carregar PDF</a>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example2.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Artigo SBC em PDF</h5>
                        <p class="card-text">Carregue um artigo SBC (coluna simples) .pdf com no máximo 12 páginas para gerar o resumo.</p>
                        <a href="#upload-pdf" class="btn btn-block btn-primary">Carregar Artigo</a>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example3.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Texto Livre</h5>
                        <p class="card-text ">Caso não tenha um arquivo .pdf, sem problemas, também fazemos resumos a partir do texto. Basta inserir na caixa e enviar!</p>
                        <a href="#" class="btn btn-block btn-primary">Conferir</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-lg-5 pb-lg-5">
            <div class="dropdown-divider"></div>
            <h1 class="text-center mt-5 mb-3 text-light">Vídeo Demonstrativo</h1>
            <h5 class="text-center mb-4 text-light">Entenda melhor o funcionamento do nosso trabalho com o vídeo abaixo</h5>
            <div class="dropdown-divider m-auto w-25"></div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>
        </div>



    </section>

     <section id="upload-pdf">
        <div class="container">
            <div style="padding: 38px 0;">
                <h1 class="text-center mb-3 text-light">Resumir PDF</h1>
                <h5 class="text-center mb-4 text-light">Carreque um arquivo PDF para que possa ser feito o resumo</h5>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="text-center" style="margin: 0 30%;">
              {% csrf_token %}
              <div class="form-group">
                <input type="file" id="pdf-file" name="pdf-file" hidden/>
                <div id="pdf-spinner" class="spinner-border text-warning" role="status" style="display: none">
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="upload-btn">
                  <button class="btn btn-default" id="upload-pdf-btn">
                    <img src="{% static 'dashboard/images/upload-icon-light.png' %}" class="h-100" />
                  </button>
                  <small id="upload-file-footer" class="form-text mb-2 text-light">Carregue um aquivo .pdf para fazer o resumo.</small>
                  <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="15" class="slider" id="file-coverage-slider">
                    <small class="form-text text-muted" id="file-coverage-output"></small>
                  </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label light-text" for="customCheck1">Artigo SBC</label>
                    </div>

                </div>
              </div>

            <p class="form-text text-muted" id="progress-bar-label"></p>
            <div class="progress" id="progress-bar-wrapper" style="margin: 22px 0;">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0;">0%</div>
            </div>

              <button id="pdf-upload-submit" class="btn btn-lg btn-outline-light mb-3">Submit</button>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <p class="lead mb-4 text-justify text-light">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi at rhoncus molestie.
                        Ut et maximus diam. Integer eget libero at leo aliquam condimentum sit amet ut elit.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Pellentesque lacinia non dolor sed efficitur.
                    </p>
                </div>
                <div class="col-5">
                    <p class="lead mb-4 text-justify text-light">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor mi at rhoncus molestie.
                        Ut et maximus diam. Integer eget libero at leo aliquam condimentum sit amet ut elit.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Pellentesque lacinia non dolor sed efficitur.
                    </p>
                </div>
                <div class="col-1"></div>

            </div>
        </div>
    </section>
    <section id="upload-text">
        <div class="container-fluid m-0 bg-light">
            <div style="padding: 38px 0;">
                <h1 class="text-center mb-3">Resumir Texto</h1>
                <h5 class="text-center mb-4 ">Insira o texto para que o Rezzumin fazer o resumo sem arquivos.</h5>
                <div class="dropdown-divider"></div>
            </div>
            <div id="upload-text-field" class="text-center">
                <div class="form-group">
                    <div id="text-spinner" class="spinner-border text-warning" role="status" style="display: none">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
                </div>
                <button id="text-upload-submit" class="btn btn-lg btn-outline-dark mb-3">Submit</button>
              </div>
            </div>
        </div>
    </section>

    <div class="jumbotron jumbotron-fluid bg-dark" style="margin: 20px 0 0 0;"                                    >
      <div class="container">
        <h1 class=" text-center light-text">Rezzumin</h1>
          <p class=" text-center text-black-50">Universidade Federal Fluminense Laboratório Midiacom.</p>
          <p class=" text-center text-black-50">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
              </a><br />Este trabalho está licenciado sob a <br/>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  Creative Commons Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional
              </a>.
          </p>
      </div>
    </div>

     <button onclick="topFunction()" class="btn btn-primary" id="go-top-btn" title="^">^</button>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>

</body>
</html>