{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rezzumin</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/main.css' %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PPX92LRJ3F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PPX92LRJ3F');
    </script>
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resumir</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#upload-pdf">Resumir PDF</a>
                  <a class="dropdown-item" href="#upload-text">Resumir Texto</a>
                </div>
              </li>
            <a class="nav-item nav-link" href="#tutorial">Tutorial</a>
            <a class="nav-item nav-link" target="_blank" href="https://github.com/diogoferrazani/rezzumin">Documentação</a>
            <a class="nav-item nav-link" target="_blank" href="https://www.midiacom.uff.br">Midiacom</a>
        </div>
    </nav>

    <div class="jumbotron bg-light">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <h1 class="mb-3">Rezzumin</h1>
                <p class="lead mb-4 text-justify">
                    Apresentamos a Rezzumin, uma ferramenta open-source educacional desenvolvida para identificar e resumir ideias e fatos mais importantes dos seus textos. A Rezzumin aceita tanto textos simples como aqueles em formato PDF, incluindo artigos científicos da SBC – Sociedade Brasileira de Computação.
                </p>
                <p class="lead mb-4 text-justify">
                    O processo de sumarização da Rezzumin traz uma funcionalidade que permite ao usuário editar o tamanho do resumo a ser gerado em comparação com o texto original de entrada. Lembramos que esta é uma ferramenta de suporte, focada somente na produção de resumos extrativos, não podendo substituir um resumo abstrativo feito por um humano.
                </p>
                <div class="row mx-n2">
                    <div class="col-md px-2">
                        <a class="btn btn-lg btn-outline-primary w-100 mb-3" href="#upload-pdf" role="button">Resumir PDF</a>
                    </div>
                    <div class="col-md px-2">
                        <a class="btn btn-lg btn-outline-secondary w-100 mb-3" href="#upload-text" role="button">Resumir Texto</a>
                    </div>
                </div>
            </div>
            <div class="col-6 text-center">
              <img class="w-75" src="{% static 'dashboard/images/logo2.png' %}">
            </div>
        </div>
    </div>

    <section id="tutorial">
        <div class="pt-lg-5 pb-lg-5">
            <h1 class="text-center mt-5 mb-3 text-light">Vídeo Demonstrativo</h1>
            <h5 class="text-center mb-4 text-light">Entenda melhor o funcionamento do nosso trabalho com um vídeo demonstrativo</h5>
            <div class="dropdown-divider m-auto w-25"></div>
        </div>

        <div class="embed-responsive embed-responsive-16by9">
{#          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY" allowfullscreen></iframe>#}
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WosYkrvw9fs" allowfullscreen></iframe>
        </div>

        <div class="container-fluid">
            <div class="dropdown-divider mb-lg-5 mt-lg-5"></div>
            <div class="pt-lg-5 pb-lg-5">
                <h1 class="text-center mb-3 text-light">Conheça Nossas Funcionalidades</h1>
                <h5 class="text-center mb-4 text-light">Artigo, PDF ou texto livre, veja abaixo as diferentes formas de produzir um resumo com Rezzumin.</h5>
                <div class="dropdown-divider m-auto w-25"></div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example1.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">PDF Comum</h5>
                        <p class="card-text">Carregue um arquivo .pdf comum com no máximo 12 páginas (coluna simples) para gerar o resumo.</p>
                        <a href="#upload-pdf" class="btn btn-block btn-primary">Carregar PDF</a>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example2.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Artigo SBC em PDF</h5>
                        <p class="card-text">Carregue um artigo SBC (coluna simples) .pdf com no máximo 12 páginas para gerar o resumo.</p>
                        <a href="#upload-pdf" class="btn btn-block btn-primary">Carregar Artigo</a>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card h-100" style="width: 18rem; margin: 0 auto;">
                      <img src="{% static 'dashboard/images/example3.png' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Texto Livre</h5>
                        <p class="card-text ">Caso não tenha um arquivo .pdf, sem problemas, também fazemos resumos a partir do texto. Basta inserir na caixa e enviar!</p>
                        <a href="#upload-text" class="btn btn-block btn-primary">Conferir</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section id="upload-pdf">
         <div class="dropdown-divider mb-lg-5 mt-lg-5"></div>
        <div class="container-fluid mt-4">
            <div class="pt-lg-5 pb-lg-5">
                <h1 class="text-center mb-3 text-light">Resumir PDF</h1>
                <h5 class="text-center mb-4 text-light">Carreque um arquivo PDF para que possa ser feito o resumo</h5>
                <div class="dropdown-divider m-auto w-25"></div>
            </div>

            <div class="text-center" style="margin: 0 30%;">
              {% csrf_token %}
              <div class="form-group">
                <input type="file" id="pdf-file" name="pdf-file" hidden/>
                <div id="pdf-spinner" class="spinner-border text-warning" role="status" style="display: none">
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="upload-btn">
                  <button class="btn btn-default" id="upload-pdf-btn">
                    <img src="{% static 'dashboard/images/upload-icon-light.png' %}" class="h-100" />
                  </button>
                  <small id="upload-file-footer" class="form-text mb-2 text-light">Carregue um arquivo .pdf para fazer o resumo.</small>

                  <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="15" class="slider" id="file-coverage-slider">
                      <small class="form-text mb-2 text-light">Selecione a porcentagem do texto presente no resumo.</small>
                    <small class="form-text text-muted" id="file-coverage-output">15%</small>
                  </div>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="sbc-checkbox">
                      <label class="custom-control-label light-text" for="sbc-checkbox">Artigo SBC</label>
                    </div>

                </div>
              </div>

            <p class="form-text text-muted" id="progress-bar-label"></p>
            <div class="progress" id="progress-bar-wrapper" style="margin: 22px 0; display: none">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0;">0%</div>
            </div>

              <button id="pdf-upload-submit" class="btn btn-lg btn-outline-light mb-3">Submit</button>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <div class="col-5">
                    <p class="lead mb-4 text-justify text-light">
                        <svg class="bi bi-star" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 00-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 00-.163-.505L1.71 6.745l4.052-.576a.525.525 0 00.393-.288l1.847-3.658 1.846 3.658a.525.525 0 00.393.288l4.052.575-2.906 2.77a.564.564 0 00-.163.506l.694 3.957-3.686-1.894a.503.503 0 00-.461 0z" clip-rule="evenodd"/>
                        </svg>
                        Ao optar por resumir um artigo da SBC, a ferramenta automaticamente seleciona o cerne do artigo, desconsiderando do resumo gerado textos que estiverem antes da introdução, como resumo em inglês, título e informações sobre os autores além da seção de referências.
                    </p>
                </div>
                <div class="col-5">
                    <p class="lead mb-4 text-justify text-light">
                        <svg class="bi bi-star" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 00-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 00-.163-.505L1.71 6.745l4.052-.576a.525.525 0 00.393-.288l1.847-3.658 1.846 3.658a.525.525 0 00.393.288l4.052.575-2.906 2.77a.564.564 0 00-.163.506l.694 3.957-3.686-1.894a.503.503 0 00-.461 0z" clip-rule="evenodd"/>
                        </svg>
                        A Rezzumin é capaz de gerar resumos diretamente de textos extraídos de arquivos PDF, limitados a 14 páginas em coluna simples. Nesse caso, todo conteúdo textual do arquivo é considerado para compor o resumo extrativo.
                    </p>
                </div>
                <div class="col-1"></div>

            </div>
        </div>
    </section>
    <section id="upload-text">
        <div class="container-fluid m-0 bg-light">
            <div class="pt-lg-5 pb-lg-5">
                <h1 class="text-center mb-3">Resumir Texto</h1>
                <h5 class="text-center mb-4">Insira o texto para que o Rezzumin fazer o resumo sem arquivos.</h5>
                <div class="dropdown-divider m-auto w-25"></div>
            </div>
            <div id="upload-text-field" class="text-center">
                <div class="form-group">
                    <div id="text-spinner" class="spinner-border text-warning" role="status" style="display: none">
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>

                <p class="form-text m-2" id="progress-text-bar-label"></p>
                <div class="progress ml-auto mr-auto mb-lg-5 w-50" id="progress-text-bar-wrapper" style="margin: 22px 0; display: none">
                    <div id="progress-text-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0;">0%</div>
                </div>

                <div class="form-group ml-lg-5 mr-lg-5">
                    <textarea class="form-control" id="text-field" rows="15"></textarea>
                </div>

                <div id="upload-text-slider" class="slidecontainer m-auto w-50">
                    <input type="range" min="1" max="100" value="15" class="slider" id="text-coverage-slider">
                        <small class="form-text mb-2">Selecione a porcentagem do texto presente no resumo.</small>
                    <small class="form-text text-muted" id="text-coverage-output">15%</small>
                </div>

                <button id="text-upload-submit" class="btn m-4 btn-lg btn-outline-dark mb-3">Submit</button>
              </div>
            </div>
        </div>
    </section>

    <div class="jumbotron jumbotron-fluid bg-dark" style="margin: 20px 0 0 0;"                                    >
      <div class="container">
        <h1 class=" text-center light-text">Rezzumin</h1>
          <p class=" text-center text-black-50">Universidade Federal Fluminense Laboratório Midiacom.</p>
          <p class=" text-center text-black-50">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  <img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
              </a><br />Este trabalho está licenciado sob a <br/>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                  Creative Commons Atribuição-NãoComercial-CompartilhaIgual 4.0 Internacional
              </a>.
          </p>
      </div>
    </div>

     <button onclick="topFunction()" class="btn btn-primary" id="go-top-btn" title="^">^</button>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'dashboard/js/main.js' %}"></script>

</body>
</html>