body{
  background-color: #212121;
  font-family: 'Roboto', serif;
}

h1, h2, h3, h4, h5, p{
  font-family: 'Roboto', serif;
}

#upload-pdf::before,
#upload-text::before {
display: block;
content: " ";
margin-top: -65px;
height: 65px;
visibility: hidden;
}

.bg-dark{
  background-color: #212121;
}

.bg-dark-medium{
  background-color: #9E9E9E;
}

#go-top-btn{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 22px; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  padding: 12px; /* Some padding */
  font-size: 18px; /* Increase font size */
}

#go-top-btn:hover{
  background-color: #555; /* Add a dark-grey background on hover */
}

.light-text{
  color: whitesmoke;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}